<script>
  $(document).ready(function() {
    $('body').scrollspy({target: '#links'});
    $('#links').affix({offset: {top: 180}});
  });
</script>
<section id="links">
  <header>
    <h2>Table of Contents</h2>
  </header>
  <ul class="link-list nav">
    <li><a href="#started">Getting Started with Signal K</a></li>
    <li><a href="#basic">“Basic” Starter Pack</a></li>
    <li><a href="#advanced">“Advanced” Starter Pack</a></li>
    <li><a href="#expert">“Expert” Starter Pack</a></li>
    <li><a href="#server">Install Signal K Server</a></li>
    <li><a href="#interface">Interfacing</a></li>
  </ul>
</section>
