<header id="header" class="container-flex">
  <!-- Logo -->
  <img src="{{site.path}}/images/signalk.svg" alt="Signal K Logo"  height="100" width="350" />

  <!-- Page Title -->
  

  <!-- Nav -->
  <a class="{{page.index}}" href="{{site.path}}/index.html">HOME</a>
  <a class="{{page.overview}}" href="{{site.path}}/overview.html">INFO</a>
  <a class="{{page.installation}}" href="{{site.path}}/installation.html">INSTALL</a>
  <a class="{{page.documentation}}" href="{{site.path}}/specification/latest/">SPECS</a>
  <a class="{{page.demo}}" href="{{site.path}}/demo.html">DEMO</a>
  <a class="{{page.team}}" href="{{site.path}}/team.html">TEAM</a>
</header>
<span id="nav" style="display:none">
  <a href="{{site.path}}/index.html">HOME</a>
  <a href="{{site.path}}/overview.html">INFO</a>
  <a href="{{site.path}}/installation.html">INSTALL</a>
  <a href="{{site.path}}/specification/master">SPECS</a>
  <a href="{{site.path}}/demo.html">DEMO</a>
  <a href="{{site.path}}/team.html">TEAM</a>
</span>
