<header class="container-grid content-wrapper">
  <!-- Logo -->
  <img src="{{site.path}}/images/signalk.svg" alt="Signal K Logo"  height="45" width="229" />

  <!-- Page Title -->

  <a href="#!" class="icon" onclick="toggleNav()">&#9776;</a>
  <!-- Nav -->
  <nav id="topNav" class="container-flex">
    <a class="{{page.index}}" href="{{site.path}}/index.html">Home</a>
    <a class="{{page.overview}}" href="{{site.path}}/overview.html">Info</a>
    <a class="{{page.installation}}" href="{{site.path}}/installation.html">Install</a>
    <a class="{{page.specification}}" href="{{site.path}}/specification.html">Specs</a>
    <a class="{{page.demo}}" href="{{site.path}}/demo.html">Demo</a>
    <a class="{{page.about}}" href="{{site.path}}/about.html">About</a>
  </nav>
</header>
