<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="{{page.keywords}}">
    <meta property="og:title" content="Signal K &raquo; {{page.title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url}}/{{site.path}}/{{page.url}}">
    <meta property="og:image" content="{{site.url}}/{{site.path}}/{{site.logo}}">
    <meta property="og:description" content="{{page.description}}">

    {% if page.redirect %}
      <meta http-equiv="refresh" content="0;URL='{{page.redirect}}'" />
    {% endif %}

    <link rel="shortcut icon" href="{{site.path}}/images/favicon.ico">
    <title>Signal K &raquo; {{ page.title }}</title>
    <script src="{{site.path}}/js/jquery.min.js"></script>
    <script src="{{site.path}}/js/scrollspy.js"></script>
    <script src="{{site.path}}/js/affix.js"></script>
    <script src="{{site.path}}/js/skel.min.js"></script>
    <script src="{{site.path}}/js/skel-layers.min.js"></script>
    <script src="{{site.path}}/js/init.js"></script>
    <script>
      (function($) {
        init("{{site.path}}");
      })(jQuery);
    </script>
    <link rel="stylesheet" href="{{site.path}}/css/fonts.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <noscript>
      <link rel="stylesheet" href="{{site.path}}/css/skel.css" />
      <link rel="stylesheet" href="{{site.path}}/css/style.css" />
      <link rel="stylesheet" href="{{site.path}}/css/style-desktop.css" />
    </noscript>
    <link rel="stylesheet" href="{{site.path}}/css/syntax.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{site.path}}/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="{{site.path}}/js/html5shiv.js"></script><![endif]-->
  </head>
  <body class="{{layout.bodyclass}}">
    {{ content }}
  </body>
</html>
