<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/ico/favicon.ico">
    <title>Signal K &raquo; {{ page.title }}</title>
    <script src="{{site.baseurl}}/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/scrollspy.js"></script>
    <script src="{{site.baseurl}}/js/affix.js"></script>
    <script src="{{site.baseurl}}/js/skel.min.js"></script>
    <script src="{{site.baseurl}}/js/skel-layers.min.js"></script>
    <script src="{{site.baseurl}}/js/init.js"></script>
    <script>
      (function($) {
        init("{{site.baseurl}}");
      })(jQuery);
    </script>
    <link rel="stylesheet" href="{{site.baseurl}}/css/fonts.css" />
    <noscript>
      <link rel="stylesheet" href="{{site.baseurl}}/css/skel.css" />
      <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
      <link rel="stylesheet" href="{{site.baseurl}}/css/style-desktop.css" />
    </noscript>
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{site.baseurl}}/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="{{site.baseurl}}/js/html5shiv.js"></script><![endif]-->
  </head>
  <body class="{{layout.bodyclass}}">
    {{ content }}
  </body>
</html>
