---
layout: main
---

{% include logo.html %}
{% include navigation.html %}

<div id="content-wrapper">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="9u article">
          <p>
            <span class="glyphicon glyphicon-time" style="margin-right: 8px"></span>
            {{ page.date | date_to_string }}
          </p>
          <h2 style="margin-top: 10px">{{ page.title }}</h2>
          <p>
            <img src="{{ page.gravatar }}?s=32" class="gravatar" alt="gravatar" />
            {{ page.author }}
          </p>
          <div class="post">
          {{ content }}
          </div>
        </div>
        <div class="3u">
          {% include sidebar.html active=page.id %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
