---
layout: main
bodyclass: subpage
---

<div id="header-wrapper">
  {% include navigation.html %}
</div>

<!-- Content -->
<div class="content-wrapper">
  <div id="content">
    <div class="container-grid-2">
        <section class="article">
          {{content}}
        </section>
        <section class="sidebar">
          {% if page.sidebar %}
          {% include {{page.sidebar}} active=page.id %}
          {% elsif layout.sidebar_rel %}
          {% include_relative {{layout.sidebar_rel}} active=page.id %}
          {% endif %}
        </section>
    </div>
  </div>
</div>
{% include footer.html %}
