---
layout: main
bodyclass: subpage
---

<div id="header-wrapper">
  {% include navigation.html %}
</div>

<!-- Content -->
<div id="content-wrapper">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="9u">
          <section class="article">
          {{content}}
          </section>
        </div>
        {% if page.sidebar %}
        <div class="3u important(mobile)">
          {% include {{page.sidebar}} active=page.id %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
